<form>
    <label for="name"> Name: </label><br/>
    <input type="text" id="name" name="name"><br/>
    <label for="instructions"> Instructions: </label><br/>
    <input type="text" id="instructions" name="instructions"><br/>
    <label for="dueDate"> Due Date: </label><br/>
    <input type="date" id="dueDate" name="dueDate" value="Date"><br/>
    <label for="isCompleted"> Completed: </label><br/>
    <input type="checkbox" id="completed" name="completed" value="false">Yes<br/>
    
    
    <button (click)="CreateATask()">Add Task</button>

</form>

<a routerLink="home" class="nav-link" >Quit</a>
<router-outlet></router-outlet>
