<h2>Find My Task</h2>

<input type="text" id="Name" placeholder="Enter Your First Name" />

<button (click)="SearchForTask()">Search</button>

<br/>
<br/>

<!-- <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Instructions</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of currentTask">
        <td>{{ t.id }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.instructions}}</td>
        <td>{{ t.dueDate }}</td>
        <td>{{ t.isCompleted }}</td>
        <td> <a routerLink = "/edit" [state] ="{id: t.id, name: t.name, instructions: t.instructions, dueDate: t.dueDate, completed: t.isCompleted}" > Update</a> </td>
         <td><button (click) = "DeleteTask(t.id)">Delete</button></td>
      </tr>
    </tbody>
  </table> -->

  <a routerLink="/task" class="nav-link" >Quit</a>

  <router-outlet></router-outlet>
