<h1>Task Manager App</h1>
<p>Welcome to your new task management application!</p>
<br/>
<h4>What would you like to do?</h4>
<ul>
  <a routerLink="task" class="nav-link" >View All Task</a>
  
  <a routerLink="create-task" class="nav-link" >Add Task</a>

  <a routerLink="delete-task" class="nav-link" >Delete Task</a>

  <a routerLink="update-task" class="nav-link" >Mark Task Completed</a>

  
  <!-- <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li> -->
</ul>



<router-outlet></router-outlet>
