
<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Task #</th>
        <th>Name</th>
        <th>Instructions</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
          <!-- <h3>Which Task would you like to delete?</h3>
          <input type="number" id="{{Id}}" value="{{Id}}" placeholder="Enter Task #"/> -->
          
    <tbody>
      <tr *ngFor="let t of task">
        <td>{{ t.id }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.instructions}}</td>
        <td>{{ t.dueDate }}</td>
        <td>{{ t.isCompleted }}</td>
        <td><button (click)="DeleteATask(t.id)">Delete </button></td>

       <!-- <button (click)="DeleteATask()">Delete {{t.name}} </button> -->
      </tr>
    </tbody>
  </table>

  


  <a routerLink="/task" class="nav-link" >Quit</a>

<router-outlet></router-outlet>

