<h3>Which Task Is Now Complete?</h3>
<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Task #</th>
        <th>Name</th>
        <th>Instructions</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tasks">
        <td>{{ t.id }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.instructions}}</td>
        <td>{{ t.dueDate }}</td>
        <!--<td><select value="{{t.isCompleted}}">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select></td> -->
        <td><button (click)="UpdateTask(t.id)">Mark As Complete </button></td>
       <!-- <button (click)="DeleteATask()">Delete {{t.name}} </button> -->
      </tr>
    </tbody>
  </table>

  

    <!--<input type="number" id="{{Id}}" value="{{Id}}" placeholder="Enter Task #"/>
    <button (click)="UpdateTask(Id)">Submit</button> -->


<a routerLink="home" class="nav-link" >Quit</a>
<router-outlet></router-outlet>
